@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/evolventa');

* {
    font-family: 'Evolventa';
    color: #EBF5F3;
    background-color: #111221; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: #1C1B41;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    overflow: hidden;
}

.navbar-left, .navbar-right, .navbar-center {
    display: flex;
    background-color: #1C1B41;
    align-items: center;
}

.navbar-center {
    width: 35%;
}
.navbar-center h3 {
    background: none;
}

.navbar-list img, a {
    background: none;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: #1C1B41;
}

.navbar-item {
    background-color: #1C1B41;
}

.navbar-item a {
    color: #775EDC;
    font-family: 'Josefin Sans';
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-weight: 400;
    background: none;
}

.navbar-item p {
    color: #775EDC;
    font-family: 'Josefin Sans';
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    background: none;
}

.navbar-item a:hover {
    color: #7CE0CE;
    background-color: #1C1B41;
}

.navbar-item i:hover {
    color: #7CE0CE;
}

.vertical-line {
    height: 2.2rem;
    width: 0.05rem;
    background-color: #A1A1A1;
    margin: 0 1rem;
}

#revisao {
    background-color: #775EDC;
    font-family: 'Josefin Sans';
    padding: .3rem .8rem;
    border-radius: 5vh;
    color: white;
}

#revisao:hover {
    background-color: #7CE0CE;
    color: white;
}

.player {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.video-player iframe {
    max-width: 90%;
    max-height: 90%;
    margin-right:9.8rem;
}

.idiomas, .icons {
    flex-shrink: 0;
    align-self: flex-start;
}

.idiomas p {
    color: #775EDC;
    font-family: 'Josefin Sans';
    margin: .5rem;
    text-align: left;
    text-decoration: none;
    font-weight: 400;
    background: none;
    margin-left: 1.2rem;
}

.icons {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    margin-right: 1.4rem;
}

.icons a {
    margin-bottom: 1rem;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C1B41;
    height: 42.3vh;
}

#sub {
    background-color: white;
    color: black;
    padding: .5rem 1rem;
    border-radius: 2vh;
    height: 20rem;
    resize: none;
    overflow-y: scroll; 
}

.subtitle textarea::-webkit-scrollbar {
    width: .9rem;
}

.subtitle textarea::-webkit-scrollbar-track {
    background-color: #775EDC; 
    border-radius: 10vh;
    opacity: 50%;
}

.subtitle textarea::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5vh;
    width: .4rem;
}

.subtitle textarea::-webkit-scrollbar-thumb:hover {
    background-color: #5BB5A9; 
}