<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="icon" href="images/tab.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Sublime</title>
</head>
<body>
<nav class="navbar">
    <div class="navbar-left">
        <a href="http://localhost:8080" class="navbar-logo"><img src="images/sublime.png" alt="Logo"></a>
        <div class="vertical-line"></div>
        <ul class="navbar-list">
            <li class="navbar-item"><a href="#projetos">Seus projetos</a></li>
        </ul>
    </div>
    <div class="navbar-right">
        <div class="navbar-item"><a href="#ajuda"><img src="images/duvida.png" alt="duvida" style="margin-right: .6rem; margin-top: .3rem"></a></div>
        <div class="search-container">
            <form action="/search" method="get">
                <input type="text" name="query" placeholder="Pesquise aqui..." class="search-bar">
                <button type="submit" class="search-btn"><i class="fas fa-search fa-lg"></i></button>
            </form>
        </div>
        <div class="vertical-line"></div>
        <ul class="navbar-list">
            <li class="navbar-item" id="perfil"><a href="#perfil"><img src="images/profile.png" alt="pesquisar" style="background:none;"></a></li>
        </ul>
    </div>
</nav>

<div class="header">
    <img src="images/header.png" alt="Vamos legendar hoje?">
    <h1>VAMOS LEGENDAR HOJE?</h1>
</div>

<div class="catalogue">
    <div class="categoria">
        <h3>FILMES PARA LEGENDAR HOJE</h3>
        <div class="movie-wrapper">
            <div class="movie" th:each="filme : ${obras}" th:data-id="${filme.idObra}">
                <img th:src="@{${filme.caminhoLink}}" alt="Imagem do Filme">
                <p th:text="${filme.titulo}"></p>
            </div>
        </div>
    </div>
</div>

<div class="popup" id="popup">
    <div class="popup-content">
        <span class="close-btn"><i class="fa-solid fa-circle-xmark" style="color: #775EDC;"></i></span>
        <div class="popup-wrapper">
            <div class="popup-wrapper-item" id="movie-right">
                <p id="legendar">LEGENDAR</p>
                <img src="images/howls.jpg" alt="tal filme">
                <p id="avaliacao">Filme ainda não publicado - Não possui avaliações</p>
            </div>
            <div class="popup-wrapper-item">
                <h3>HOWLS</h3>
                <p id="duracao">2018 - 130min</p>
                <div class="idioma-wrapper">
                    <p><b>IDIOMA ORIGINAL:</b> Japonês</p>
                    <select id="subtitle-language" required>
                        <option value="" disabled selected><b>IDIOMA DA LEGENDA</b></option>
                        <option value="ingles">Inglês</option>
                        <option value="pt-br">Português - BR</option>
                        <option value="pt-pt">Português - PT</option>
                    </select>
                </div>
                <button>LEGENDAR</button>
                <p id="link-libreflix"><a href="#Link">Ver no LibreFlix</a></p>
            </div>
        </div>
    </div>
</div>
<script>
    var filmes = [
        {
            idObra: 1,
            titulo: "Howls Moving Castle",
            duracao: "130min",
            caminhoLink: "images/howls.jpg",
            nota: "5.0",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 2,
            titulo: "Spirited Away",
            duracao: "125min",
            caminhoLink: "images/spirited.png",
            nota: "4.8",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 3,
            titulo: "Princess Mononoke",
            duracao: "134min",
            caminhoLink: "images/monoke.png",
            nota: "4.9",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 4,
            titulo: "My Neighbor Totoro",
            duracao: "86min",
            caminhoLink: "images/totoro.png",
            nota: "4.7",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 5,
            titulo: "Nausicaä of the valley of the wind",
            duracao: "117min",
            caminhoLink: "images/nausica.png",
            caminhoLink: "images/nausica.png",
            nota: "4.0",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 6,
            titulo: "Panda go Panda!",
            duracao: "79min",
            caminhoLink: "images/panda.png",
            nota: "4.8",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 7,
            titulo: "Whisper of the Heart",
            duracao: "96min",
            caminhoLink: "images/Sussurros.png",
            nota: "4.3",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 8,
            titulo: "The boy and the Heron",
            duracao: "124min",
            caminhoLink: "images/boy.png",
            nota: "4.0",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 9,
            titulo: "Castle in the sky",
            duracao: "124min",
            caminhoLink: "images/castelodoceu.png",
            nota: "4.2",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 10,
            titulo: "From up on Poppy hill",
            duracao: "91min",
            caminhoLink: "images/colina.png",
            nota: "4.7",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 11,
            titulo: "The Wind Rises",
            duracao: "126min",
            caminhoLink: "images/vento.png",
            nota: "4.9",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 12,
            titulo: "Kiki's Delivery Service",
            duracao: "102min",
            caminhoLink: "images/kiki.png",
            nota: "4.2",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 13,
            titulo: "Ponyo",
            duracao: "103min",
            caminhoLink: "images/ponyo.png",
            nota: "4.1",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 14,
            titulo: "The tale of princess Kaguya",
            duracao: "137min",
            caminhoLink: "images/kaguya.png",
            nota: "4.7",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 15,
            titulo: "The castle of Cagliostro",
            duracao: "110min",
            caminhoLink: "images/LupinIII.png",
            nota: "5.0",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 16,
            titulo: "When Marnie was There",
            duracao: "103min",
            caminhoLink: "/images/marnie.png",
            nota: "4.0",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 17,
            titulo: "The Kingdom of Dreams and Madness",
            duracao: "120min",
            caminhoLink: "/images/reino.png",
            nota: "4.5",
            idiomaOriginal: "Japonês"
        },
        {
            idObra: 18,
            titulo: "Tales from Earthsea",
            duracao: "115min",
            caminhoLink: "/images/terramar.png",
            nota: "4.2",
            idiomaOriginal: "Japonês"
        },
    ];

    var popup = document.getElementById("popup");
    var span = document.querySelector(".close-btn");
    var movies = document.querySelectorAll(".movie");

    popup.style.display = "none";

    movies.forEach(function(movie) {
        movie.addEventListener("click", function(event) {
            event.preventDefault();
            var filmeId = movie.getAttribute("data-id");
            openPopup(filmeId);
        });
    });

    span.onclick = function() {
        popup.style.display = "none";
    };

    window.onclick = function(event) {
        if (event.target == popup) {
            popup.style.display = "none";
        }
    };

    function openPopup(filmeId) {
        var filme = getFilmeById(filmeId);
        if (filme) {
            var popupWrapper = document.querySelector(".popup-wrapper");

            popupWrapper.querySelector("h3").innerText = filme.titulo;

            popupWrapper.querySelector("#movie-right img").src = filme.caminhoLink;

            popupWrapper.querySelector("#avaliacao").innerText = "Avaliação: " + filme.nota;

            popupWrapper.querySelector("#duracao").innerText = "Duração: " + filme.duracao;

            popupWrapper.querySelector(".idioma-wrapper p").innerText = "Idioma Original: " + filme.idiomaOriginal;

            var legendarButton = popupWrapper.querySelector("button");
            legendarButton.addEventListener("click", function() {
                window.location.href = "/legenda/" + filme.idObra;
            });
            popup.style.display = "flex";
        } else {
            console.log("Filme não encontrado com o ID: " + filmeId);
        }
    }

    function getFilmeById(filmeId) {
        return filmes.find(function(filme) {
            return filme.idObra == filmeId;
        });
    }
</script>
</body>
</html>
