<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_login.css">
    <link rel="icon" href="images/tab.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Sublime</title>
</head>
<body>
    <div class="container">
        <img src="/images/login.png" alt="Boas vindas ao sublime, Essa é a plataforma de apoio do Libreflix para criação e edição de legendas para obras audiovisuais independentes.">
        <div class="login">
            <h1>FAÇA SEU LOGIN:</h1>
            <div class="login-wrapper">
                <form action="/login" method="post">
                    <h3>Login</h3>
                    <input type="email" name="email" placeholder="E-mail" required>
                    <h3 style="margin-top: .5rem">Senha</h3>
                    <input type="password" name="senha" placeholder="●●●●●●●●●" required>
                    <p><a href="#">Esqueceu a senha?</a></p>
                    <div class="button-container">
                        <button type="submit">ENTRAR</button>
                    </div>
                </form>
            </div>
            <p id="crie"><a href="#">Ainda não tem conta? Crie sua conta aqui</a></p>
        </div>
    </div>
</body>
</html>
