<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>Sublime</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <a href="#home" class="navbar-logo"><img src="/static/images/sublime.png" alt="Logo"></a>
            <div class="vertical-line"></div>
            <ul class="navbar-list">
                <li class="navbar-item"><a href="#favs">Favoritados</a></li>
                <div class="dot-divisor"></div>
                <li class="navbar-item"><a href="#projetos">Seus projetos</a></li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="navbar-item"><a href="#ajuda"><i class="fa-solid fa-circle-question fa-xl" style="color: #7CE0CE"></i></a></div>
            <div class="search-container">
                <input type="text" placeholder="Pesquise aqui..." class="search-bar">
                <button class="search-btn"><i class="fas fa-search fa-xl"></i></button>
            </div>
            <div class="vertical-line"></div>
            <ul class="navbar-list">
                <li class="navbar-item" id="perfil"><a href="#perfil">SEU PERFIL <i class="fa-regular fa-circle-user fa-xl" style="color: #775EDC; margin-left: 0.2rem;"></i></a></li>
            </ul>
        </div>
    </nav>

    <div class="header">
        <img src="/static/images/header.png" alt="">
        <h1>VAMOS LEGENDAR HOJE?</h1>
    </div>

    <div class="catalogue">
        <div class="categoria">
            <h3>FILMES PARA LEGENDAR HOJE</h3>
            <div class="movie-wrapper">
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
            </div>
        </div>
        <div class="categoria">
            <h3>EM ALTA NA LIBREFLIX</h3>
            <div class="movie-wrapper">
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
                <div class="movie">
                    <img src="/static/images/howls.jpg" alt="tal filme">
                    <p>Howls Moving Castle</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
